    <!-- <% <form action='/infoatualizada' method='post'> <% 
    <input type = 'hidden' name='id' value='" +livros.id + "'>
    Nome: <input type='text' name='nome' id='nome' value='" + livros.nome + "'> <br> 
    Autor: <input type='text' name='autor' id='autor' value='" + livros.autor + "'><br>
    Gênero: <input type='text' name='genero' id='genero' value='" + livros.genero + "'> <br>
    Edição: <input type='text' name='edicao' id='edicao' value='" + livros.edicao + "'> <br>
    Quantidades de páginas: <input type='text' name='paginas' id='paginas' value='" + livros.paginas + "'> <br>
    Exemplares disponíveis: <input type='text' name='exemplares' id='exemplares' value='" + livros.exemplares + "'> <br>
    <input type='submit' value='Cadastrar'>
    </form>;  %>
    <%  -->