<%- include ("cabecalho") %>

<form action='/buscalivros' method='post'>
    Nome: <input type='text' name='nomeBusca' id='nomeBusca'><br>
    Autor: <input type='text' name='autorBusca' id='autorBusca'><br>
    Gênero: <input type='text' name='generoBusca' id='generoBusca'><br>
    <input type='submit' value='Procurargenero'>
</form>

<%- include ("rodape") %>