<%- include ("cabecalho") %>

<h4>Informe o nome do usuário que deseja procurar</h4>
<form action="/buscandoUsuario" method="post">
    Nome: <input type="text" name="nomeUsuario" id="nomeUsuario">
    <input type="submit" value="Buscar">
</form>

<%- include ("rodape") %>