<%- include ("cabecalho") %>
<p> A nova biblioteca pública de Recife! Aproveite bastante nossos livros <br> com cuidado e responsabilidade sempre. <br> Vamos adicionar ou procurar? Só selecionar uma opção.</p>
<form action="http://localhost:1500/busca" method="get">
    <input type="submit" value="Procure">
</form>
<form action="http://localhost:1500/cadastro" method="get">
    <input type="submit" value="Cadastre">
</form>
<%- include ("rodape") %>