<%- include ("cabecalho") %>

<form action="/sigin" method="post">
    <label>Login</label> <input type="text" name="login" id="login" required><br><br>
    <label>Senha</label> <input type="password" name="senha" id="senha"
    required>
    <input type="submit" value="Enviar">
</form>

<%- include ("rodape") %>