<%- include ("cabecalho") %>
<p>Exemplar excluído com sucesso da biblioteca.
    <br> Deseja voltar a tela inicial?
</p>
<form action="https://localhost:1500">
    <input type="submit" value="Início">
</form>
<%- include ("rodape") %>