<%- include ("cabecalho") %>
<p>Informações dos exemplares atualizada com sucesso.
    <br> Deseja voltar a tela inicial?
</p>
<form action="https://localhost:1500">
    <input type="submit" value="Início">
</form>
<%- include ("rodape") %>