<%- include ("cabecalho") %>
<p> A nova biblioteca pública de Recife! Aproveite bastante nossos livros <br> Faça seu login ou cadastre-se.</p>
<form action="http://localhost:1500/login" method="get">
    <input type="submit" value="Login">
</form>
<form action="http://localhost:1500/cadastroUsuario" method="get">
    <input type="submit" value="Cadastro">
</form>
<%- include ("rodape") %>